<!DOCTYPE html>
<html lang ="cmn">
<%- partial('_partial/head') %>
<body>
  <div id="container" class="compensate-for-scrollbar">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <% if(page.layout == 'blank') {%>
          <section id="main" style="float: none;"><%- body %></section>
        <% }else{ %>
        <section id="main"><%- body %></section>
          <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
            <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
          <% } %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>